EMAIL_USERNAME=xxx@gmail.com
# get from GMAIL https://support.google.com/mail/answer/185833?hl=en-GB
EMAIL_PASSWORD=
# air quality
# get the token from here https://aqicn.org/data-platform/token
AIR_QUALITY_API_TOKEN=
AIR_QUALITY_CITY_LIST=london,new-york